body{
    background-color: #888888;
}
.id{
    display: flex;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content:center;
   
   }
   .id1{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content:center;
    text-align: center;
    display: inline-flexbox;

   }